{# templates/habitat/habitat_name.html.twig #}
{% extends 'header.html.twig' %}

{% block title %}{{ habitat.nom }}{% endblock %}

{% block body %}
<div class="habitat-detail">
    <div class="hero-section">
        <img src="{{ asset(habitat.getImagePath()) }}" alt="{{ habitat.nom }}" class="img-fluid">
        <div class="hero-content">
            <h1>{{ habitat.nom }}</h1>
            <p>{{ habitat.description }}</p>
        </div>
    </div>
    <h2>Animaux présents dans cet habitat :</h2>
    {% if animaux is not empty %}
        <div class="animals">
            {% for animal in animaux %}
                <div class="animal-card">
                    <img src="{{ asset(animal.getImagePath()) }}" alt="{{ animal.prenom }}" class="animal-image">
                    <h3>{{ animal.prenom }}</h3>
                    <p>{{ animal.getRaceName() }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun animal dans cet habitat.</p>
    {% endif %}
{% endblock %}