{% extends 'header.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}
<div id="hero" class="hero-section">
    <img src="{{ asset('assets/styles/images/animals/baby-snow-leopard-8132690_1280.webp') }}" alt="Description de l'image">
    <div class="hero-content">
        <h1>Espace Administrateur</h1>
    </div>
</div>
<div class="dashboard">
    <h2>Tableau de Bord Administrateur</h2>

    <div class="col-md-8 col-center mt-4 rapport-employé">
        <h3>Créer un Utilisateur</h3>
        {{ form_start(userCreationForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
        <div class="mb-3">
            {{ form_label(userCreationForm.username, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(userCreationForm.username, {'attr': {'class': 'form-control', 'placeholder': 'Entrez l\'adresse e-mail de l\'utilisateur'}}) }}
            {{ form_errors(userCreationForm.username) }}
        </div>
        <div class="mb-3">
            {{ form_label(userCreationForm.nom, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(userCreationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom de l\'utilisateur'}}) }}
            {{ form_errors(userCreationForm.nom) }}
        </div>
        <div class="mb-3">
            {{ form_label(userCreationForm.prenom, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(userCreationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le prenom de l\'utilisateur'}}) }}
            {{ form_errors(userCreationForm.prenom) }}
        </div>
        <div class="mb-3">
            {{ form_label(userCreationForm.password, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(userCreationForm.password, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le mot de passe'}}) }}
            {{ form_errors(userCreationForm.password) }}
        </div>
        <div class="mb-3">
            {{ form_label(userCreationForm.role, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(userCreationForm.role, {'attr': {'class': 'form-select'}}) }}
            {{ form_errors(userCreationForm.role) }}
        </div>
        <button type="submit" class="btn btn-primary">Créer l'utilisateur</button>
        {{ form_end(userCreationForm) }}
    </div>
    

    <div class="col-md-8 col-center mt-4 rapport-employé">
    <h3>Filtrer Rapport Vétérinaire</h3>
    <form method="GET" action="{{ path('admin') }}" class="mb-4">
        <div class="mb-3">
            <label for="filterDate" class="form-label">Date</label>
            <input type="date" class="form-control" name="date" id="filterDate" value="{{ app.request.query.get('date') }}">
        </div>
        <div class="mb-3">
            <label for="filterRace" class="form-label">Race</label>
            <select class="form-control" name="race" id="filterRace">
                <option value="">-- Sélectionner une race --</option>
                {% for race in races %}
                    <option value="{{ race }}" {% if app.request.query.get('race') == race %}selected{% endif %}>{{ race }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filtrer</button>
    </form>
    </div>

    <div class="col-md-8 col-center mt-4 rapport-employé">
    <h3>Rapports Vétérinaire</h3>
    {% if rapportsVeterinaire is not empty %}
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Animal</th>
                    <th>Race</th>
                    <th>État</th>
                    <th>Détail de l'état</th>
                    <th>Commentaire Habitat</th>
                </tr>
            </thead>
            <tbody>
                {% for rapport in rapportsVeterinaire %}
                    <tr>
                        <td>{{ rapport.date|date('d/m/Y') }}</td>
                        <td>{{ rapport.animal.prenom }}</td>
                        <td>{{ rapport.animal.race }}</td>
                        <td>{{ rapport.animal.etat }}</td>
                        <td>{{ rapport.animal.detailEtat }}</td>
                        <td>{{ rapport.animal.habitat ? rapport.animal.habitat.commentaireHabitat : '' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun rapport vétérinaire.</p>
    {% endif %}
    </div>
    <div class="col-md-8 col-center mt-4 rapport-employé">
    <div class="clicks-table">
        <h3>Clics par Animal</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Animal</th>
                    <th>Nombre de Clics</th>
                </tr>
            </thead>
            <tbody>
                {% for click in clicks %}
                    <tr>
                        <td>{{ click.animalPrenom }}</td>
                        <td>{{ click.clickCount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    </div>
{% include 'footer.html.twig' %}
{% endblock %}
