{# templates/services/services.html.twig #}
{% extends 'header.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}
<div id="hero" class="hero-section">
    <img src="{{ asset('assets/styles/images/chimpanzee-1545010_1280.jpg') }}" alt="Description de l'image">
    <div class="hero-content">
        <h1>Nos services</h1>
    </div>
</div>
<div class="container-services py-5">
    <h3>Découvrez les nombreux services proposés par le Parc Zoologique d'Arcadia.</h3>
    <p>De la restauration pour satisfaire vos papilles à la visite guidée des habitats, offerte gratuitement, jusqu'au tour du zoo en petit train pour explorer nos installations en toute facilité. Notre parc s'efforce de fournir une expérience enrichissante et inoubliable à tous nos visiteurs.</p>
</div>
<div class="container-services py-5">
    <div class="row gy-4">
        {% for service in services %}
            <div class="col-12">
                <div class="service-box d-flex align-items-center p-4">
                    {% if service.imagePath %}
                        <img src="{{ asset(service.imagePath) }}" alt="{{ service.nom }}">
                    {% else %}
                        <img src="{{ asset('assets/styles/images/default.jpg') }}" alt="{{ service.nom }}">
                    {% endif %}
                    <div>
                        <h3>{{ service.nom }}</h3>
                        <p>{{ service.description }}</p>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYE') %}
                            <a href="{{ path('services', { update: service.serviceId }) }}#form-modification" class="btn btn-secondary">Modifier</a>
                            <a href="{{ path('services', { delete: service.serviceId }) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce service ?')">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun service disponible pour le moment.</p>
        {% endfor %}
    </div>
</div>

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYE') %}
    <div id="#form-modification" class="form-container">
        <h3>{{ isEditing ? 'Modifier un Service' : 'Créer un Service' }}</h3>
        {{ form_start(serviceForm) }}
            {{ form_widget(serviceForm) }}
            <button type="submit">{{ isEditing ? 'Mettre à Jour' : 'Créer le service' }}</button>
        {{ form_end(serviceForm) }}
    </div>
{% endif %}
{% include 'footer.html.twig' %}
{% endblock %}
