<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bienvenue au Zoo d'Arcadia{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
    </head>
<body>
    <header id="header" class="header fixed-top">
        <a href="{{ path('Accueil') }}" class="logo">
            <img src="{{ asset('assets/styles/images/logo.png') }}" alt="Logo" class="logo-img">
            <h1 class="sitename">Zoo d'Arcadia</h1>
        </a>
        <div class="container">
            <button class="burger-menu" aria-label="Menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="{{ path('Accueil') }}" class="{{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}">Accueil</a></li>
                    <li><a href="{{ path('services') }}" class="{{ app.request.attributes.get('_route') == 'services' ? 'active' : '' }}">Nos services</a></li>
                    <li><a href="{{ path('habitat') }}" class="{{ app.request.attributes.get('_route') == 'habitats' ? 'active' : '' }}">Nos habitats et animaux</a></li>
                    <li><a href="{{ path('contact') }}" class="{{ app.request.attributes.get('_route') == 'contact' ? 'active' : '' }}">Contact</a></li>
                    {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin') }}" class="{{ app.request.attributes.get('_route') == 'admin_dashboard' ? 'active' : '' }}">Espace Administrateur</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_EMPLOYE') %}
                        <li><a href="{{ path('employee') }}">Tableau de Bord Employé</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_VETERINAIRE') %}
                        <li><a href="{{ path('veterinaire') }}">Tableau de Bord Vétérinaire</a></li>
                    {% endif %}
                    <li><a href="{{ path('logout') }}" class="{{ app.request.attributes.get('_route') == 'app_logout' ? 'active' : '' }}">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}" class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    
    
    <main>
        {% block body %}{% endblock %}
    </main>
{% block javascript %}
<script src="{{ asset('build/app.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
